{{#partial "content"}}
    <div class="index">
        <h3 class="header">Avechi.</h3>
        <p>Come to build your own business Enterprise</p>
        <p>Stay to see your friends do it too</p>
        <br><br>
    <a href="/signin"><button class="btn btn-success">Getting started</button></a>
        <br><br>
    <a href="/login"><button class="btn btn-secondary">Log in</button> </a>
    </div>
{{/partial}}
{{> layout.hbs}}