
body{
text-align : center ;
background-image : url("/images/background-companies-4-1.jpg");
background-size : 1500px;
}
button{
padding-left: 50px;
width : 200px;
}
.index{
padding: 150px 150px;
}
.header{
font-size : 30px;
text-decoration: underline;
color : blue;
}

li{
list-style:none;
}

#success {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
}
#review {
    font-family: 'Luckiest Guy', cursive;

}
#hero-text {
    font-family: 'Fredericka the Great', cursive;
    font-size:24px;
}
#rating{
   font-family: 'Kumar One', cursive;

}
#businessId{
    font-family: 'Fredericka the Great', cursive;
    font-size: 24px;
}
#name{
    font-family: 'Aladin', cursive;
    font-size: 22px;
}