{{#partial "content"}}
<<<<<<< HEAD
    <div class="about">
        <h3><u>About Avechi For Businesses</u></h3>
        <br>
        <article>
            We, at Avechi for businesses , are trying to make up to all businesses of the world <br>
            due to the sudden crash in the worldwide economy cause by the corona virus pandemic.
        </article>
        <br>
        <article>
            With the optimism of the end of Corona pandemic, we have come up with this application to <br>
            step in and try to save all businesses from closure due to the economic downfall.
        </article>
        <br>
        <article>
            This application was built by Moringa Students :<br>
            <ul>
                <li>George Stephen</li>
                <li>Ruth Mwangi</li>
                <li>Samuel Wahome</li>
                <li>Albina Muturi</li>
            </ul><br>
            This application is aimed to advertise and market all businesses recorded
        </article>
        <br>
        <article>
            The user has the ability to enter his/her own business and other<br>
            users can view,rate and review a business
        </article>
        <br>
        <p>Click <a href="/">here</a> to begin your adventure in your business</p>
    </div>
=======
<div class="about">
    <h3><u>About Avechi For Businesses</u></h3>
    <br>
    <article>
        We, at Avechi for businesses , are trying to make up to all businesses of the world <br>
        due to the sudden crash in the worldwide economy cause by the corona virus pandemic.
    </article>
    <br>
    <article>
        With the optimism of the end of Corona pandemic, we have come up with this application to <br>
        step in and try to save all businesses from closure due to the economic downfall.
    </article>
    <br>
    <article>
        This application was built by Moringa Students :<br>
        <ul>
        <li>George Stephen</li>
            <li>Ruth Mwangi</li>
            <li>Samuel Wahome</li>
            <li>Albina Muturi</li>
    </ul><br>
        This application is aimed to advertise and market all businesses recorded
    </article>
    <br>
    <article>
        The user has the ability to enter his/her own business and other<br>
        users can view,rate and review a business
    </article>
    <br>
    <p>Click <a href="/">here</a> to begin your adventure in your business</p>
</div>
>>>>>>> dd4bb0e984085a51f7630ad6fa2f1a4ef58b2c8f
{{/partial}}
{{> layout.hbs}}