{{#partial "content"}}
    <div class="home">
        <h2>Would you like to add your own business or view other businesses </h2>
        <a href="/business/form"><button class="btn btn-primary">Add a  new business</button></a>
        <a href="/business"><button class="btn btn-secondary">View all businesses</button></a>
    </div>
{{/partial}}
{{> layout.hbs}}