{{#partial "content"}}
    <div class="index">
<article>
    We, as Avechi, wish only the best for businesses all over the world <br>
    If you want your business to make it to the big leagues just <br>
    join the family to make your business the next big thing
</article>
        <br><br>
    <a href="/signin"><button class="btn btn-success">Getting started</button></a>
        <br><br>
    <a href="/login"><button class="btn btn-secondary">Log in</button> </a>
    </div>
{{/partial}}
{{> layout.hbs}}