{{#partial "content"}}
<article>
    We, as Avechi, wish only the best for businesses all over the world <br>
    If you want your business to make it to the big leagues just <br>
    join the family to make your business the next big thing
</article>
    <a href="/signin"><button class="btn btn-success">Sign Up For Free</button></a>
{{/partial}}