<!DOCTYPE html>
<html>
<head>
    <title>Avechi For Businesses</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/App.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Aladin|Fredericka+the+Great|Kumar+One|Luckiest+Guy|Marck+Script&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li><a class="nav-item active" href="/home" style="padding-right:10px;">Home</a></li>
            <li class="nav-item active">
                <a class="nav-link" href="/my-profile">View Profile </a>
            </li>

        </ul>

    </div>
</nav>

<div class="container">
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>
</body>
<footer class="footer">
    <p>What is Avechi for business? click <a href="/about">here</a> </p>
</footer>
</html>