<!DOCTYPE html>
<html>
<head>
    <title>Avechi For Businesses</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/App.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Aladin|Fredericka+the+Great|Kumar+One|Luckiest+Guy|Marck+Script&display=swap" rel="stylesheet">
</head>
<body>
<ul class="nav nav-tabs">
    <a href="/">Home</a>
</ul>
<div class="container">
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>
</body>
<footer class="footer">
    <p>What is Avechi for business? click <a href="/about">here</a> </p>
</footer>
</html>