{{#partial "content"}}
    <div class="card col-lg-8">
        <img src="/images/check.jpg" class="card-img-top" alt="card image" width="40px" height="400px">
        <p class="card-text" id="success">You have successfully created a review</p>
        <p class="card-text" id="success">Would you like to:</p>
        <div class="card-footer">
            <a href="/reviews" class="btn btn-lg btn-success">View all reviews<i class="fas fa-arrow-circle-right ml-3"></i></a>
            <a href="/review/form" class="btn btn-lg btn-primary"><i class="fas fa-arrow-circle-left mr-3"></i>Add another review</a>
        </div>
    </div>



{{/partial}}

{{> layout.hbs}}