{{#partial "content"}}
    <div class="form-box">
        <form action='/signin' class="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" class="form-control" type="text" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" class="form-control" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" class="form-control" type="text" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" class="form-control" type="password" placeholder="Password">
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
                <button type="submit" class="btn btn-info">Sign In</button>
            </div>
        </form>
    </div>

    <style>
        .form-box{
            width: 380px;
            height: 480px;
            position: relative;
            margin: 6% auto;
            background: #F0EEEA;
            padding: 5px;
        }
        .form{
            padding-top: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    </style>

{{/partial}}

{{> layout.hbs}}