{{#partial "content"}}
    <div class="success">
        <h2>Congratulations for completing the entry</h2>
        <a href="/home"><button class="btn btn-primary"> Go to home page</button></a>
    </div>
{{/partial}}
{{> layout.hbs}}